h1 { font-size: 3.052rem; }

h2 { font-size: 2.441rem; }

h3 { font-size: 1.953rem; }

h4 { font-size: 1.563rem; }

h5 { font-size: 1.25rem; }

p { font-size: 1.4rem; }

.secondary-heading {
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-image: linear-gradient(
		to left,
		$primary-color-lighten-3,
		$primary-color
	);
}